/* ProjectCard.css */

.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px #0000001a;
    background-color:lightseagreen;
  }
  
  .image-container {
    margin-bottom: 16px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  